<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/bulma/0.7.5/css/bulma.css" rel="stylesheet">

</head>

<body>

    <div id="app" class="container">
        <ul>
            <li v-for="project in projects" v-text="project.name">
            </li>
        </ul>
        <form action="/store" method="POST" @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" v-model="form.name" name="name" type="text" placeholder="Name">
                </div>
                <p class="help is-danger" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></p>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <input class="input" type="text" v-model="form.description" name="description"
                        placeholder="Description">
                </div>
                <p class="help is-danger" v-if="form.errors.has('description')" v-text="form.errors.get('description')">
                </p>
            </div>


            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit" :disabled="form.errors.any()">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
    <script src="19.js?v=1"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                form: new Form({
                    name: '',
                    description: ''
                }),
                projects: []
            },
            methods: {
                onSubmit() {
                    this.form.submit('post', 'http://localhost:8000/store').then(res => {
                        alert('adf')
                    });
                }
            }
        })
    </script>
</body>

</html>